.age-field::-webkit-outer-spin-button,
.age-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.age-field[type="number"] {
  -moz-appearance: textfield;
}

.option-one:empty {
  display: none;
}

.firstname-field,
.lastname-field,
.age-field,
.gender-field,
.email-field,
.phone-field,
.repassword-field {
  padding: 0.25em 0 0.25em 0;
}

.login-option {
display: flex;
  gap: 0.5em;
  margin-top: 7em;
}