.dialog-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.workout-dialog[open] {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  padding: 0.5em;
  gap: 0.5em;
  border-radius: 0.3em;
}

.workout-form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.workout-form-label {
  display: flex;
  justify-content: space-between;
}

.open-btn {
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 0.3em;
  background-color: #183d3d;
  color: #fff;
}

.close-btn {
  align-self: flex-end;
  padding-inline: 1em;
  background-color: #cfa5b6;
}
