.wrapper {
  display: flex;
  flex-direction: column;
  width: clamp(10em, 90%, 30em);

  margin: 1em auto;
  padding: 0.3em;
}

.container {
  background-color: #5c8374;

  min-height: 1em;
  padding: 0.5em;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.change-view-btn {
  border-radius: 0;
  margin: 0;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-color: transparent;

  width: clamp(8em, 40%, 20em);

  background-color: #183d3d;
  color: #fff;
}

.active {
  background-color: #5c8374;
}
