.container > * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.workoutsComponent {
  padding: 0.5em 0.8em;
  margin: 1em auto;
  width: 95%;
  background: linear-gradient(
    70deg,
    rgba(217, 217, 217, 1) 0%,
    rgba(170, 170, 170, 1) 100%
  );
  border: 1px solid #666;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.workoutsComponentHeader {
  font-size: 1.5em;
  text-shadow: 1px 1px 2px white;
}

.workoutsComponentButton {
  height: 3em;
  background-color: #5c8374;
  border: 1px solid #666;
  border-radius: 8px;
  margin: 0.5em 0 0.2em 0;
  font-size: 1.2em;
  cursor: pointer;
}

.workoutsComponentTime {
  font-size: 0.9em;
}

.workoutsComponentCity,
.workoutsComponentSpots {
  font-size: 0.8em;
}

.container {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-evenly;
}
