<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="workoutsComponent.css">
</head>
<body>
    <article class="workoutsComponent">
        <div class="container">
            <h3 class="workoutsComponentHeader">Spinning</h3>
            <p class="workoutsComponentTime">17:45 - 18:45</p>
            <p class="workoutsComponentSpots">4/20 Spots left.</p>
        </div>
        <div class="container">
            <button class="workoutsComponentButton">Book</button>
            <p class="workoutsComponentCity">&#61987; Norrtälje Centrum</p>
        </div>
    </article>
</body>
</html>