.day-btn {
  padding: 0;
  min-width: 13% 35px;
  margin-inline: 0.2em;
  cursor: pointer;
}

.day-btn:nth-child(4) {
  border: 3px solid #5c8374;
}

.day-container {
  display: flex;
  flex-direction: column;
  padding: 0.1em;
}

.date {
  font-size: smaller;
  margin: 0;
  align-self: flex-start;
}

.day {
  margin: 0.3em 0.7em;
  font-size: 1.2rem;
}

.week-btn {
  background: none;
  border: 2px solid transparent;
  font-size: 1.1rem;
  font-weight: 500;
}

.week-btn:hover:not([disabled]) {
  border-color: #5c8374;
}
