*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

button {
  height: 3em;
  background-color: #5c8374;
  border: 1px solid #666;
  border-radius: 8px;
  margin: 0.5em 0 0.2em 0;
  font-size: 1.2em;
  cursor: pointer;
}

body {
  background-color: #3A3A3A;
  color: #FFFFFF; 
}